{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} About {% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>About</h1>
    </div>

    <div>
            <img  width="90" height="100" src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
    </div>

    <p> This site has been visited: {{ visits }} times.</p><br/>
    <h1>This tutorial has been put together by Mihail Yanev(2065983y)</h1>
    <br/>
        Rango says here's dem about page lul
    <br/>
    <strong>{{ secret }}</strong><br />

    <p alignt="left"> Picture of myself on the left </p> <p align="center"> and </p> <p align="right"> aChapter 4 project's snapshot </p>

    <img src = "{%static "images/meh.png" %}" width=640 height=480 alt="Picture of myself lol">
    <img src = "{% static "images/proj.png" %}" alt="What was the project back then" align = "right" />

{% endblock %}


